
@{
    ViewBag.Title = "Sobre";
}

<div class="container bg-dark p-3">
    <div class="row">

        <div class="col-md-12">
            <h3>Sobre o Projeto</h3>
            <p class="text-justify">Este projeto foi desenvolvido no ambito da disciplina de Tecnologias de Informação 2, o projecto envolve uma Aplicação Web que permite a utilizadores vizualizarem e escreverem noticias consoante as suas permissões,os utilizadores também podem comentar as noticias</p>
            <hr />
        </div>
        <div class="col-md-12">
            <h3>
                A minha informação
            </h3>
            <hr />
            <div>
                <div style="padding-right:30px">
                    <img src="https://i.imgur.com/2F1oYMi.jpg" style="height:250px;width:auto" />
                    <br />
                </div>
                <div>
                    <span style="font-weight:bold">Nome:</span>
                    <span> Carlos Alexandre Costa Poupado</span>
                    <br />
                    <span style="font-weight:bold">Numero:</span>
                    <span> 19130</span>
                    <br />
                    <span style="font-weight:bold">Email principal:</span>
                    <span> pahpahdow@gmail.com</span>
                    <br />
                    <span style="font-weight:bold">Email IPT:</span>
                    <span> aluno19130@ipt.pt</span>

                </div>
            </div>
        </div>

        <div class="col-md-12 mt-5">
            <h4>Registos do Website</h4>
            <span style="font-weight:bold">Utilizador:</span>
            <span> admin@ipt.pt</span>
            <br />
            <span style="font-weight:bold">Password:</span>
            <span> 123Qwe.</span>
            <br />
            <span style="font-weight:bold">Utilizador:</span>
            <span> Jornalista@ipt.com</span>
            <br />
            <span style="font-weight:bold">Password:</span>
            <span> 123Qwe.</span>
        </div>

    </div>
</div>